* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
}
/*Start Header*/
header{
  background-color:#eeeeee;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: auto;
  padding-top: 80px;

}
/*
@media (min-width: 575.98px){
 .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
 .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  .container {
    padding: 0 calc(50% - 590px);
  }*/


.header_container{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.header__logo a{
  display: block;
}
.header__items ul{
  list-style: none;
  display: flex;
}
.header__items ul li{
  margin-right: 25px;
}
.header__items ul li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}
.header__items ul li a:hover{
  color: #e74246;
}
.header__items ul li a:active{
  color: #a6a6a6;
}
.header__cart a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}
.header__cart a:before{
  content:url("img/cart-icon.svg");
  padding-right: 20px;
}
.header__cart a:hover{
   color: #e74246;
}
.header__cart a:active{
  color: #a6a6a6;
}
.header__info{
  display: flex;
  justify-content:space-between;
}
.header__info h1{
  font-size:44px;
}
.header__info p{
  font-size: 16px;
  line-height: 20px;
  padding: 40px 0;
}
.header__info a{
  text-decoration: none;
}
.header__info div.col1{
  padding:0 35px 80px 0;
}
.header__info .btn_red{
  width: 250px;
  background-color: #fb5559;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0;
  padding: 18px 50px;
  border-radius:5px;
} 
.header__info .btn_red:hover{
  background-color: #e74246;
}
.header__info .btn_red:active{
   background-color:#d7363a;
   color:#e06366;
 }
.header__info .col2 {
   background: url("img/nerds-index-slide1.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%; 
   margin-left: 85px;
   margin-top: -55px;
}
/*End Header*/

/*Start Main Section*/
section.main_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 80px;
}
.item{
  width: 300px;
  height: 300px;
  margin-right: 90px;
  margin-bottom: 80px;
}
.item img{
  display: block;
  padding-bottom: 30px;
}
.item h4{
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-bottom: 20px;
}
.item p{
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 50px;
}
.item a.btn_red {
  text-decoration: none;
  width: 230px;
  background-color: #fb5559;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border-radius:5px;
  padding: 18px 50px;
 }
 .item a.btn_red:hover{
  background-color:#e74246;
 }
 .item a.btn_red:active{
  color:#e37375;
  background-color:#d7363a ;
 }
.item a.btn_green {
  text-decoration: none;
  width: 230px;
  background-color: #00ca74;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border-radius:5px;
  padding: 18px 50px;
 }
 .item a.btn_green:hover {
  background-color: #00bc6b;
 }
  .item a.btn_green:active{
  background-color: #00aa61;
  color:#4dc491;
 }
.item a.btn_yellow {
  text-decoration: none;
  width: 230px;
  background-color: #efc849;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  border-radius:5px;
  padding: 18px 50px;
}
.item a.btn_yellow:hover{
  background-color:#eab434;
}
.item a.btn_yellow:active{
  background-color:#e5a722;
  color:#edc265;
}
 .border_section{
  border-bottom:2px solid grey;
  width: 80%;
  margin: 0 auto;
  opacity: 0.5;
}
/*End Main Section*/

/*Start About Us Section */
.about_container{
  display: flex;
  justify-content: flex-start;
  padding-bottom: 80px;
}
.about .col1{
  width: 50%;
  margin: 0 auto;
}
.about .col1 h4{
  align-items: flex-start;
  padding: 10px;
  margin: 30px 20px 20px 0;
  font-size: 34px;
  line-height: 40px;
}
.about .col1 p{
  padding: 10px;
  margin: 30px 20px 20px 0;
  font-size: 14px;
  line-height: 20px;
}
.about .col1 ul h5{
  padding: 10px;
  margin: 30px 20px 20px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.about .col2{
  width: 50%;
  margin: 0 0 0 60px;
}
.about .col1 ul li{
  list-style-type:"-";
  color: black;
  font-size: 16px;
  padding: 10px;
  margin-left: 10px;
}
.about .col2 img{
  display: block;
}
.about .col2 h4{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px 0 0;
  margin: 50px 0;
}
.about .col2 .standarts{
  display: flex;
}
.about .col2 div{
  align-items: flex-start;
  margin-right: 30px
}
.about .col2 span{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about .col2 p{
  font-size: 16px;
  padding: 10px 20px 0 0;
  margin: 15px 0;
}
/*End About Us Section*/

/*Start Works Section*/
section.works_item{
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 0;
  overflow-x: hidden;
}
.works_item div{
  width: 260px; 
} 
.works_item div a img{
  text-decoration: none;
}
.works_item div img{
  display: block;
  opacity: 0.5;
}
.works_item div img:hover{
  opacity:1;
}
.works_item div img:active{
  opacity:0.25;
}
/*End Works Section*/

/*Start Contact Section*/
section.contact_us{
  width: 100%;
  margin: 80px 0 0 0;
  padding: 140px 0;
  background-image: url("img/map.png"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.contact_us .map__address{
  width: 300px;
  background-color: white;
  position: absolute;
  left:140px;
  top:15%;
}
.contact_us .map__address h4{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 40px 60px;
}
.contact_us .map__address p{
  font-size: 16px;
  font-weight: normal;
  padding: 0 60px 20px 40px;
  color: grey;
}
.contact_us .map__address span{
  font-size: 16px;
  font-weight: normal;
  padding: 20px 75px 20px 40px;
  color: grey;
  margin: 0 auto;
}
.contact_us .map__address a.btn_red{
  display: block;
  padding: 40px 75px 20px 40px;
  color: white;
  background-color:#fb5559;
  text-decoration: none;
  width: 220px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius:3px;
  padding: 15px 40px;
  margin: 25px auto;
}
.contact_us .map__address a.btn_red:hover{
 background-color:#e74246;
}
.contact_us .map__address a.btn_red:active{
 background-color:#d7363a;
 color:#e37375;
}
.contact_us .map__marker img{
  display:block;
  position: absolute;
  right:15%;
  top:25%;
}
/*End Contact Section*/

/*Start Footer Section*/
section.footer{
  width: 100%;
  margin-bottom: 70px;
}
.footer .footer_container{
  display: flex;
  flex-wrap: wrap;
}
.footer .social__icon_container{
  display: flex;
  justify-content:flex-start;
  margin: 0 200px 0 0;
  list-style: none;
}
.footer .social__icon{
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
}
.footer .social__icon:hover{
  background-color: #e74246;
}
.footer .social__icon:active{
  background-color: #d7363a;
}
.footer i.fa{
  width: 80px;
  height: 80px;
  line-height: 2.5;
  text-align: center;
  margin:0 auto;
  color: white;
  font-size: 30px;
}
.footer i.fa:active{
  color:#e37375;
}
.footer .footer__info h3{
  font-size: 28px;
  line-height: 36px;
}
.footer .footer__info p{
  font-size: 16px;
  padding: 10px 0;
}
/*End Footer Section*/
